In [16]:
# This programs allows to convert the gene name into the OMIM identificator. 
# This is used to create links to then do text mining into the OMIM database

In [1]:
import pandas as pd

In [2]:
# Open ClinVar file
CountsFile1 = pd.read_excel('Genes_patho_length.xls')
CountsFile = CountsFile1[['Gene(s)']]
CountsFile

     Gene(s)
0        DMD
1       TSC2
2       PTEN
3      SCN1A
4      MECP2
...      ...
1154   TENM2
1155   PTPRD
1156     BSN
1157   ITPR3
1158   KALRN

[1159 rows x 1 columns]

In [31]:
# A tab-delimited file containing OMIM's Synopsis of the Human Gene Map including additional information such as genomic coordinates and inheritance.
OMIMfile = pd.read_csv("mim2gene.txt", header=0, skiprows=[0, 1, 2, 3], sep='\t')
OMIMfile = OMIMfile[['# MIM Number', 'Approved Gene Symbol (HGNC)']]
OMIMfile.rename(columns = {'Approved Gene Symbol (HGNC)':'Gene(s)'}, inplace = True)
OMIMfile

       # MIM Number Gene(s)
0            100050     NaN
1            100070     NaN
2            100100     NaN
3            100200     NaN
4            100300     NaN
...             ...     ...
27604        619734   EPDR1
27605        619736     NaN
27606        619739  ASNSD1
27607        619740  ASDURF
27608        619741   ZMAT5

[27609 rows x 2 columns]

In [32]:
OMIMfile = OMIMfile.dropna()
OMIMfile['# MIM Number'] = OMIMfile['# MIM Number'].astype('string')
OMIMfile

C:\Users\sergi\AppData\Local\Temp/ipykernel_3528/933501973.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OMIMfile['# MIM Number'] = OMIMfile['# MIM Number'].astype('string')

      # MIM Number  Gene(s)
7           100640  ALDH1A1
8           100650    ALDH2
9           100660  ALDH3A1
10          100670  ALDH1B1
12          100678    ACAT2
...            ...      ...
27603       619732   PXYLP1
27604       619734    EPDR1
27606       619739   ASNSD1
27607       619740   ASDURF
27608       619741    ZMAT5

[16614 rows x 2 columns]

In [33]:
OMIMfile['# MIM Number'] = OMIMfile.groupby(['Gene(s)'])['# MIM Number'].transform(lambda x : ','.join(x))
OMIMfile

C:\Users\sergi\AppData\Local\Temp/ipykernel_3528/743470158.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OMIMfile['# MIM Number'] = OMIMfile.groupby(['Gene(s)'])['# MIM Number'].transform(lambda x : ','.join(x))

      # MIM Number  Gene(s)
7           100640  ALDH1A1
8           100650    ALDH2
9           100660  ALDH3A1
10          100670  ALDH1B1
12          100678    ACAT2
...            ...      ...
27603       619732   PXYLP1
27604       619734    EPDR1
27606       619739   ASNSD1
27607       619740   ASDURF
27608       619741    ZMAT5

[16614 rows x 2 columns]

In [35]:
merged = pd.merge(CountsFile, OMIMfile, on='Gene(s)')
merged

     Gene(s) # MIM Number
0        DMD       300377
1       TSC2       191092
2       PTEN       601728
3      SCN1A       182389
4      MECP2       300005
...      ...          ...
1028   TENM2       610119
1029   PTPRD       601598
1030     BSN       604020
1031   ITPR3       147267
1032   KALRN       604605

[1033 rows x 2 columns]

In [36]:
final = pd.merge(CountsFile1, merged, on='Gene(s)', how='outer')
final[0:10]

,Gene(s),Frameshift_ClinVar,Missense_ClinVar,Nonsense_ClinVar,Splicesites_ClinVar,totals_ClinVar,3_prime_UTR_GnomAD,5_prime_UTR_GnomAD,coding_sequence_GnomAD,frameshift_GnomAD,...,stop_lost_GnomAD,stop_retained_GnomAD,synonymous_GnomAD,totals_GnomAD,TOTALS,Sequence\tlenght,Ratio P/NP,Disease(s) / Function,Condition(s),# MIM Number
0,DMD,379,25,515,208,1127,50,38,0,6,...,0,0,637,4661,5788,NaN,24.179361,Muscle dystrophy,"Duchenne\tmuscular\tdystrophy,\tnot\tprovided,...",300377
1,TSC2,258,92,173,159,682,59,21,0,9,...,0,1,820,4451,5133,NaN,15.322399,Tuberous Sclerosis 2 Protein,"Tuberous\tsclerosis\t2,\tnot\tprovided|Tuberou...",191092
2,PTEN,260,157,118,95,630,18,28,0,5,...,0,0,77,456,1086,NaN,138.157895,+++ phosphatase,"PTEN\thamartoma\ttumor\tsyndrome,\tHereditary\...",601728
3,SCN1A,165,277,88,57,587,12,2,0,5,...,0,0,395,1798,2385,2009.0,32.647386,Dravet syndrome,"not\tprovided,\tnot\tprovided,\tSevere\tmyoclo...",182389
4,MECP2,334,81,65,27,507,28,10,0,7,...,0,0,187,673,1180,NaN,75.334324,Rett syndrome,Severe\tneonatal-onset\tencephalopathy\twith\t...,300005
5,DICER1,213,46,146,73,478,38,8,0,8,...,2,0,406,2056,2534,NaN,23.249027,Endoribonuclease helicase,DICER1-related\tpleuropulmonary\tblastoma\tcan...,606241
6,LOC102724058|SCN1A,108,215,76,35,434,0,0,0,0,...,0,0,0,0,434,NaN,NaN,Same as SCN1A?,Early\tinfantile\tepileptic\tencephalopathy\tw...,NaN
7,LAMA2,124,16,171,109,420,20,14,0,82,...,0,0,720,4932,5352,NaN,8.515815,Extracellular matrix. Musc. Dystrophy,LAMA2-related\tmuscular\tdystrophy|not\tprovid...,156225
8,SCN2A,60,234,48,19,361,0,0,0,0,...,0,0,7,15,376,2005.0,2406.666667,+++,"not\tprovided,\tIntellectual\tdisability|Early...",182390
9,TSC1,168,10,119,59,356,29,22,0,7,...,1,0,260,1397,1753,NaN,25.483178,Tuberous Sclerosis 1 Protein,"not\tprovided,\tTuberous\tsclerosis\t1,\tTuber...",605284

In [37]:
final.to_csv('counts_to_MIMcode.txt', header=True, index=None, sep=' ', mode='w')

In [38]:
import csv
final.to_csv('counts_to_MIMcode(numbers as strings).csv', sep = ',', index = False, quoting=csv.QUOTE_ALL)
# This gives a .cvs file separeted by ',' if you want to see the .csv file as table format you must
# open excel (empty excel), click on data --> import from csv and then it's in a table format.